.main {
    display: flex;
    flex-direction: column;
}

.main__intro {
    background-color: var(--color-dark);
    padding: 1.5rem 0rem 0rem 1.5rem;
    height: 15rem;
    border-bottom: 1px solid var(--color-dark);
    width: 100%;
    color: var(--color-light)

}

.txt__intro {
    font-size: 1.5rem;
}

span:first-child {
    font-size: 3rem;
}

span:last-child {
    font-size: 2rem;
}

.project {
    display: flex;
}

.codes__icon {
    width: 100%;
    height: 4rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid var(-color-dark);
    border-radius: 10px;
}

.project__container {
    justify-content: center;
}

.project__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
}

.project__item {
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    padding: 0.2rem;
    width: 15rem;
    word-break: break-all;
    border-radius: 10px;
    background-color: var(--pink);
}

.project__item a {
    text-decoration: none;
    font-family: var(--font1);
    font-size: 1.3rem;
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: var(--color-light);
}

.project__item a:hover {
    color: var(--color-light);
    background-color: var(--pink);
}
