:root {
    --blue: #a7c8f9;
    --blue2: #92dce5;
    --pink: rgb(220, 147, 220);
    --purple: #A454F0;
    --purple-dark: #5D2A8C;
    --red: #d64933;
    --font1: 'Rajdhani', cursive;
    --color-light: #d7d9d8;
    --color-dark: rgb(36, 34, 34);
    --font-size: 62, 5%;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-light);
    font-size: var(--font-size);
}
